:root {
  --header-bg-color: #003c71;
  --header-fg-color: #ffffff;
  --header-hl-color: #ffffff;
  --footer-bg-color: #003c71;
  --footer-fg-color: #ffffff;
  --footer-hl-color: #ffffff;
  --content-bg-color: rgb(245, 245, 245);
  --content-fg-color: rgb(39, 42, 52);
  --content-hl-color: rgb(2, 151, 214);
}
