#main-content {
  min-height: 300px;
}

.container {
  padding-top: 10px;
}
.selectedCats {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .selectedCats {
    display: none;
  }
}
